h3{
    color: rgba(255, 255, 255);
    /* margin-left: 20px; */
}
.photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 40px;
    margin-top: 20px;
}
.left{
    width: 250px;
    height: 920px;
    /* border: 5px solid ; */
    background-color: rgba(22, 56, 83);
}
body{
    width: 750px;
    height: 920px;
    border: 3px solid ;
}
.hr-blue{
    width: 190px;
    margin-right: 40px;
    margin-top: -10px;
}
.con-edu-skil-lan{
    /* margin-left: 20px; */
    /* border: 1px solid red; */
    margin-left: 15px;
}
.info{
   color: rgba(250, 250, 251);
   line-height: 1.5;
}
.list{
    margin-left: 13px;
}

.container{
    display: flex;
    /* border: 2px solid red; */
    /* align-items: center; */
}
.right{
    margin-left: 20px;
    /* border: 1px solid ; */
    flex: 1;
}
.me{
    margin-top: 35px;
}
.right-info{
    width: 450px;
}
.hr-right{
    width: 460px;
    margin-right: 20px;
    margin-top: -10px;

}
.work{
    margin-top: 30px;
    /* border: 1px solid ; */
}
.work-info-container{
    margin-top:-3px;
    /* border: 1px solid ; */
    width: 450px;
    display: flex;
}
.left-work{
    flex:0 0 80%;
    border: 2px solid ;
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding-left: 10px;
    
}
.right-work{
    flex: 0 0 20%;
    /* border: 1px solid ; */

}
.left-list{
    line-height: 1.5;
    margin-left: 25px;
}